
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Jacquard+12+Charted&display=swap');


body {background-color: mediumseagreen;
background-image:url(../Imagens/Mario.jpeg) ;
background-size: 500px;
background-repeat: no-repeat;
background-position: center;
text-align:justify;
text-indent: 35px;
font-weight: 600;
font-size: 1.25em;


}


p{color: red;
}

h2 {color:rgba(0,0,0,0.75);
 }    
 
 #Segundo-Paragrafo{color: chocolate;}

 .Call{color: yellow;}
 
 .Valorant {color: black;}
 
 #quarto{color: #fc7f03;}

 #Among{border-radius: 20px;
    margin: left 60px; 
    }
    button{margin-left: 100px;
    padding-left:  35px ;
    }
    video{ width: 300px;}
  
#menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color:white;

} 
ul{
        display: flex;
        flex-direction: row;
        list-style:none;
        align-items: center;
        font-size: 1.5em;
}
#links{
        align-items: center;
        margin-top: 2%;
        margin-right: 3%;
}







